#Log files, screenshots, savestates, saves, roms
*.log
*.png
*.z**
!*.zip
*.bst
*.srm
*.sav
*.sfc
*.smc
Atlasv1.11/src/
#C default stuff considering the normal patch uses C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
# Random nonsense
Cartographer_PR3/Cartographer/readme.txt
Cartographer_PR3/Cartographer/ff1_script_001.txt
Cartographer_PR3/Cartographer/ff1_script_000.txt
Cartographer_PR3/Cartographer/ff1_raw.tbl
Cartographer_PR3/Cartographer/ff1_ptr.tbl
Cartographer_PR3/Cartographer/ff1_commands.txt
*.bak
Atlasv1.11/ROM/Binary-wram.bin
Atlasv1.11/ROM/Binary-vram.bin
Atlasv1.11/ROM/Binary-sram.bin
Atlasv1.11/ROM/Binary-oam.bin
Atlasv1.11/ROM/Binary-cgram.bin
Atlasv1.11/ROM/Binary-apuram.bin
